<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学文-学文分享网站搜索平台</title>
<link rel="stylesheet" type="text/css" href="${base}/resource/css/search.css" /> 
</head>

<body>
<div class="container">
	<p class="link_p" style="height:20px;font-size:14px;line-height:20px;text-align:right">
   	  	<a class="LINK" href="${base}/" >分享平台</a>
		<a class="LINK" href="http://ytw.hhtc.edu.cn/" target="_blank" >厚德网</a>
		<a class="LINK" href="http://news.hhtc.edu.cn/" target="_blank" >新闻网</a>
		<a class="LINK" href="http://tsg.hhtc.edu.cn/" target="_blank" >图书馆</a>
		<a class="LINK" href="http://net.hhtc.edu.cn/" target="_blank" >网络中心</a>
		<a class="LINK" href="http://job.hhtc.edu.cn/" target="_blank" >就业信息网</a>
		<a class="LINK" href="http://172.28.1.222:81/index.action" target="_blank" >计算机工程系</a>
		<a class="LINK" href="http://jwmis.hhtc.edu.cn/" target="_blank" >教务网络管理系统</a>
		<a class="LINK" href="http://www.hhtc.edu.cn/" target="_blank" >怀化学院</a>
   	  </p>
    <div class="top1"></div>
    <div class="top2"></div>
    <div class="top3"><img src="${base}/resource/images/ysearch/index/top_03.jpg" width="127" height="127" /></div>
    <div class="top4"></div>
    <div class="top5"><img src="${base}/resource/images/ysearch/index/t_05.jpg" /></div>
    <div class="top6"></div>
    <div class="top7"></div>
    <div class="spake1"></div>
    <form name="search" action="s" method="get">
    <div class="text_index">
    	<input type="text" name="wd" id="kw" maxlength="100">
    	<input type="hidden" name="tn" value="you2000_pg">
		<input type="hidden" name="ch" value="110">
    	
    </div>
    <div class="submit_index">
   		<input type="image" src="${base}/resource/images/ysearch/index/sub.jpg"/>
    </div>
    <div class="spake2"></div>
    <div class="searchType_index">
        <div class="spake3">
            <input type="radio" name="type" value="0" />内外
            <input type="radio" name="type" checked="checked" value="1" />外网
        </div>
    </div>
    </form>
    <div class="searchHot">
         &nbsp;&nbsp;热门搜索：学文&nbsp;  学文分享网站&nbsp;  怀化学院  &nbsp; 计算机工程系
    </div>
    <div class="footl"></div>
     <div class="footr"></div>
</div>
</body>
</html>
