<div style="width:500px;margin:0px auto;background-color:#92cf28;">
	<p>
		系统中的缓存：<br /><br />
		<span class="BLUE BOLD">配置缓存：</span><br />
		这个是system-config.xml中配置的系统中一些常量，如果修改了这个文件，请刷新这个缓存。<br /><br />
		<span class="BLUE BOLD">配置缓存：</span><br />
		常用数据的缓存，比如首页的列表，这些缓存都是可以在一段时间后自动刷新的，如果需要马上更新请刷新。
	</p>
	<div class="CENTER">
		<a href="${base}/ad_min/cache/config" target="ajaxTodo" class="BUTTON">更新配置缓存</a>
		&nbsp;&nbsp;&nbsp;
		<a href="${base}/ad_min/cache/data" target="ajaxTodo" class="BUTTON">更新数据缓存</a>
	</div>
</div>